{
  "parser": "@typescript-eslint/parser",
  "extends": "@atomix/eslint-config",
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
